@font-face {
  font-family: montserratB;
  src: url(fonts/Montserrat-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: montserratN;
  src: url(fonts/Montserrat-Medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: montserratL;
  src: url(fonts/Montserrat-Light.otf);
  font-weight: bold;
}

@font-face {
  font-family: bebas;
  src: url(fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {margin: 0; height: 100%; overflow: hidden; font-family: "neontubes";}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030c1c;
}

header{
	height: 20%;
}

h1{
	text-align: center;
    font-size: 2em;
    padding: 5px 0;
    margin: 0;
    color: #ffd9e2;
	text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;  
}

h2{
	color: #d4eaff;
  	text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
	text-align: center;
    margin: 0;
    padding: 5px 0;
    font-size: 1em;
}

section{
	padding: 10px;
	height: 80%;
	color: #f7ccff;
  	text-shadow: 0 0 0 transparent, 0 0 10px #720185, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #720185, 0 0 100px #720185, 0 0 200px #720185, 0 0 300px #720185, 0 0 500px #720185;
	border-radius: 5px;
    margin: 0 10px;
}

section h3{
	color: #f7ccff;
  	text-shadow: 0 0 0 transparent, 0 0 10px #720185, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #720185, 0 0 100px #720185, 0 0 200px #720185, 0 0 300px #720185, 0 0 500px #720185;
	margin: 0;
	height: 5%;
	padding: 10px 0;
    text-align: center;
}

#content{
	display: flex;
	height: 80%;
}

/*LEFT*/

.left, .right{
	width: 50%;
}

.right{
	padding: 0 20px;
}
#carrousel{
	display: flex;
	flex-direction: row;
	height: 80%;
}

#carrousel figure{
	width: 50%;
	margin: 0;
	text-align: center;
}

#carrousel img{
	display: inline-block;
    height: 100%;
}

#carrousel button, #carrouselShot button, #nbShot{
	width: 25%;
    border: 0;
    border-radius: 2px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

#leftBtn{
    background-image: url(img/arrow2.png);
}

#rightBtn{
    background-image: url(img/arrow.png);
}

#carrousel button:hover, #carrouselShot button:hover{
	background-position: right center;
	cursor: pointer;
}

/*Right*/
#validIMAC, .buttonChoice{
	background-color: transparent;
    margin: 20px 0 20px 20px;
    border: 1px solid #ffd9e2;
    padding: 10px 30px;
    border-radius: 3px;
    font-family: "neontubes";
    color: white;
    text-shadow: 0 0 0 transparent, 0 0 10px #cccccc, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #cccccc, 0 0 100px #cccccc, 0 0 200px #cccccc, 0 0 300px #cccccc, 0 0 500px #cccccc;
}

#validIMAC:hover, .buttonChoice:hover{
	box-shadow: 0 0 0 transparent, 0 0 2px #ff003c, 0 0 5px rgba(255, 0, 60, 0.5), 0 0 10px #ff003c, 0 0 25px #ff003c, 0 0 50px #ff003c, 0 0 75px #ff003c, 0 0 125px #ff003c, 0 0 250px #ff003c;
    cursor: pointer;
}

/*PAGE 2*/
.left figure{
	margin: 0;
    width: 100%;
    height: 100%;
}

#roulette {
	    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform 2s ease-out;
    z-index: 0;
    margin: auto;
    display: block;
}

#rouletteFleche{
	margin-left: 22.5%;
    position: absolute;
    z-index: 1;
    display: block;
}

/*PAGE 3*/

.buttonChoice{
  margin: 20px auto;
  display: inline;
}

#leftSide{
  text-align: center;
}

/*PAGE 4*/
#canvas {
      background: #e1e1ea;
      display: block;
      margin: auto;
      margin: 20px;
    height: 100%;
    } 

/*PAGE 5*/

.leftSide5{
  background-image: url('img/Pub.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#leftShot{
    background-image: url(img/moins.png);
}

#rightShot{
    background-image: url(img/plus.png);
}

#carrouselShot button, #nbShot{
  height: 100%;
  display: inline-block;
      width: 50px;
}

#carrouselShot{
  display: flex;
  flex-direction: row;
  height: 20%;
  text-align: center;
}

#nbShot{
  text-align: right;
  font-size: 30px;
  background-color: transparent;
  color: black;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  font-family: "neontubes";
}


#content>ul{
	float: right;
    display: inline-block;
}

#choices{
	display: flex;
    bottom: 10px;
    position: absolute;
    justify-content: space-around;
    width: 100%;
}

#choices p{
	display: inline-block;
}

#pubIMAC{
	height : 100%;
	width : 100%;
}